# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environments
.env
.venv/
venv/

# Data
data/
data/*.xlsx
data/*.csv
data/*.json
code/base_model.py
code/finetuning.py

# Models / outputs
*.pt
*.ckpt
outputs/
logs/